<p id="notice"><%= notice %></p>

<p>
  <strong>Cute:</strong>
  <%= @amu.cute %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @amu.schedule %>
</p>

<%= link_to 'Edit', edit_amu_path(@amu) %> |
<%= link_to 'Back', amus_path %>
